*{
    box-sizing:border-box;
}
body {
    text-align: center;
    margin:0;
    padding:0;
    background-color: #D8C8B9;
}

#header {
    background-color: #B6A38F;
    padding: 20px;
}
#article {
    background-color: #D8C8B9;
    padding: 20px;
    text-align: left;
}
#aside {
    background-color: #D7D0CA;
    padding: 20px;
}
#nav {
    background-color: #CAC2B1;
    padding: 20px;
    display:flex;
}
#footer {
    background-color: #AFA999;
    padding: 20px;
}


span {
    font-style: italic;
    font-weight: bold;
}
.kutya {
    background-color: #E2DDDA;
    width: 100px;
}
.adatok {
    color: #846854;
    font-style: italic;
}
ul {
    list-style-type: square;
}
h1, h2 {
    text-align: center;
    font-weight: bold;
    margin: 0px;
}
h3 {
    font-style: italic;
}
#nav a {
    background-color: #E2DDDA;
    padding: 10px;
    text-decoration: none;
    color: black;
    flex:1 1 auto;
}
#nav a:hover {
    background-color: #C1B7AA;
    color: white;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}


@media screen and (min-width: 800px){
    body {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: 0;
    }
    #main {
        display: flex;
    }
    #article {
        flex: 1 1 80%;
    }
    #aside {
        flex: 1 1 20%;
    }
}